@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Poppins:wght@100;300;400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.top-bar-container {
  background-color: #5f0f40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.search-box-container {
  flex-grow: 1;
  max-width: 100vh;
  padding: 0 35px;
  height: 3rem;
}
.search-icon {
  height: 20px;
  background: transparent;
  transition: all 0.3s ease 0;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 75px;
  background: rgba(225, 225, 225, 0.2);
}
.search-bar input {
  background: transparent;
  width: 100%;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}

.search-bar button {
  transition: all 0.3s ease 0;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #cac7ff;
}

.search-bar button:hover {
  transition: all 0.3s ease 0;
  background-color: #cac7ffa1;
}

::placeholder {
  color: #cac7ff;
}

#rij-cream {
  font-family: "Carattere", cursive;
  font-weight: bolder;
  color: rgb(197, 184, 184);
  font-size: 40px;
  background: transparent;
  border: 0;
}

.buttons-container button {
  color: rgb(197, 184, 184);
  padding-right: 30px;
  font-size: 17px;
  background: transparent;
  border: 0;
}

.main-display {
  display: flex;
  flex-direction: column;
  background-color: #fb8b24;
  height: 50rem;
}
.some-goofy-info {
  height: 50rem;
  background-color: beige;
}
.end-info {
  height: 25rem;
  background-color: cadetblue;
}
.hidden {
  opacity: 0;
  filter: blur(5px);

  transition: all 1.5s;
}
.hidden-extra {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(-100%);
}
.show {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}
